page-sobre {
    .toolbar-title.toolbar-title-ios{
        color:white;
    }

    .sizeAjust{
        /* Or zero, or something very small */
       margin: auto;
       width: 130px;
       
       
   }
}

